.img_left {
    position: absolute;
    width: 100%;
    top: 0;
    height: 100vh;
    background-image: url('./../images/photo-1496065187959-7f07b8353c55.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    z-index: -1;
}

.home_contenaire {
    margin: 10% 2%;
    display: flex;
    justify-content: space-around;
}

.description_home {
    margin-top: -6%;
    padding: 20px;
    width: auto;
    height: auto;
}

.description_home h2 {
    font-size:4rem;
    font-family: 'Times New Roman', Times, sans-serif;
}
.description_home h2 span {
    color: red;
}

.description_home p {
    width: 60%;
    font-size: 30px;
}

.social {
    width: auto;
    height: auto;
}

.img {
    border-image-outset: 2px;
    position: fixed;
    bottom: 0;
    left: 80%;
    transform: translateX(-50%);
    z-index: -1;

}
#cv-btn {
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    background-color: #4CAF50; 
    color: white;
    border: 1px solid #4CAF50; 
    border-radius: 5px; 
    width: 150px;
    transition: background-color 0.3s, color 0.3s; 
  
  }
  
  #cv-btn:hover {
    background-color: white; 
    color: #4CAF50; 
  }
  

/* media */
 @media only screen and (max-width: 1000px)and (min-width:1200) {
    .description_home h2{
    font-size:20px;
    }
    .img{
        width: 200px;
        height: 200px;
        margin-left: -20%;
    }
    .description_home p {
    font-size: 10px;
    }
} 
@media all and (max-width: 1000px){
    .home_contenaire{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .description_home h2{
        font-size: 20px;
        margin-top: 20%;
    }
    .img{
        display: none;
    }
    .description_home p {
        font-size: 10px;
        }
    
}
